html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  
}
  *, *:before, *:after {
    box-sizing: inherit;
  }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px;
    align-items: flex-start;
    transition: all ease 0.4ms;
}

.title{
    text-align: center;
    color: #e67e22;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

h2{
    font-size: 20px;
    text-transform: uppercase;
}

.filas{
    display: flex;
    align-items: center;
}

.label {
    margin-right: 5px;
    margin-bottom: 10px;
    width: 80px;
}

.label--busqueda {
    margin-right: 5px;
    width: 170px;
}

.lista {
    padding: 0;
}

.lista li {
    list-style: none;
    margin-bottom: 10px;
}

.unidad{
    margin-left: 5px;
}

.cliente-seleccionado,
.listado-clientes,
.busqueda-clientes,
.agregar-clientes{
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    flex-direction: column;
    height: 350px;
}

.cliente-seleccionado,
.busqueda-clientes{
    height: 300px;
}

.btn {
    color: #ffffff;
    background-color: #3498db;
    outline: 0;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    padding: 10px 35px 10px 35px;
    font-size: 14px;
    margin-top: 5px;
}

.btn:hover {
    background-color: #2980b9;
}


.btn--selec{
    color: #ffffff;
    background-color: #e74c3c;
    outline: 0;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    padding: 5px 18px 5px 18px;
    font-size: 14px;
}

.btn--selec:hover {
    background-color: #c0392b;
}

.input, .select{
    width: 145px;
}
@media (max-width: 812px) {
    .contenedor{
        flex-direction: column;
        align-items: center;
    }

    li{
        display: flex;
        flex-direction: column;
    }

    .btn--selec {
        margin-top: 5px;
    }
    
    .cliente-seleccionado,
    .listado-clientes,
    .busqueda-clientes,
    .agregar-clientes{
        height: auto;
    }
}